/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 0;
}

/* Head */
head {
    height: 100px;
}

.left-head img {
    width: 100px;
    display: block;
}

/*? Main */

/* Section Grid */
#section-grid {
    background-color: #7fffd4;
    height: 750px;
    padding: 25px 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    width: 700px;
    margin: 0 auto;
}

.cell {
    height: calc(100% / 10);
    width: calc(100% / 10);
    border: 1px solid black;
    flex-shrink: 0;
    text-align: center;
    line-height: 70px;
}

.clicked {
    background-color: darkblue;
}